<div class="modal-header">
  <span>Instance info</span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <nb-card>
    <!--<div class="row" class="vumark-element" #vumarkElement>
          <div class="col-md-12">
            <ngx-vumark-image [vumark]="instance.imgUrl" [logo]="logo"></ngx-vumark-image>
          </div>
        </div>-->
    <div class="row">
      <div class="col-md-12" #vumarkElement>
        <ngx-vumark-image [vumark]="instance.imgUrl" [logo]="logo"></ngx-vumark-image>
      </div>
    </div>
    <ul>
      <li>
        <b>Vumark ID: </b> {{instance.idVumark}}
      </li>
      <li>
        <b>Status: </b>
        <span class="badge badge-info" *ngIf="instance.stickerState==0">Empty</span>
        <span class="badge badge-primary" *ngIf="instance.stickerState==1">Open</span>
        <span class="badge badge-success" *ngIf="instance.stickerState==2">Sticked</span>
      </li>
    </ul>
  </nb-card>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-md btn-success" (click)="downloadVumark(vumarkElement)">Download</button>
  <button type="submit" class="btn btn-md btn-primary" (click)="closeModal()">Ok</button>
</div>