<div class="modal-header">
  <span>{{titleForm}}</span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #addUserForm="ngForm">
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName">
    </div>

    <div class="form-group">
      <label for="email">e-Mail</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
    </div>

    <div *ngIf=" titleForm === 'New User'" >
      <div class="form-group">
        <label for="pasword">Password</label>
        <input type="pasword" class="form-control" id="pasword" name="pasword" [(ngModel)]="user.password">
      </div>
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
        <ng-multiselect-dropdown
                class="form-control"
                [placeholder]="'Select Role'"
                [data]="dropdownList"
                [(ngModel)]="roleAssignedItems"
                name="roleAssignedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
    </div>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-primary" [disabled]="!addUserForm.valid">Save changes</button>
    </div>
    <!--button type="submit" class="btn btn-danger">Submit</button-->
  </form>
</div>
