<div class="modal-header">
  <span>{{titleForm}}</span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #addProjectForm="ngForm">
    
    <div class= "row">
      <div class="form-group col-md-8">
        <label for="projectName">Name</label>
        <input type="text" class="form-control" id="projectName" name="projectName" [(ngModel)]="project.projectName">
      </div>
      <div class="form-group col-md-4">
        <label for="estimatedDuration">Estimated Duration</label>
        <input type="number" class="form-control" id="estimatedDuration" name="estimatedDuration" [(ngModel)]="project.estimatedDuration">
      </div>
    </div>

    <div class="form-group">
      <label for="description">User(s)</label>
      <ng-multiselect-dropdown
              class="form-control"
              [placeholder]="'Add New'"
              [data]="dropdownList"
              [(ngModel)]="userAssignedItems"
              name="usersAssigned"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="project.description"></textarea>
    </div>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-primary" [disabled]="!addProjectForm.valid">Save changes</button>
    </div>
    <!--button type="submit" class="btn btn-danger">Submit</button-->
  </form>
</div>
