.image-container {
    position: relative;
    left: 0;
    top: 0;
}
.vumark {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.logo {
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 50%;
}
