<div class="modal-header">
  <span>Add Sticker Set</span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit(event)" #addStickerForm="ngForm">
    <div class="form-group">
      <label for="event_name">Name</label>
      <input type="text" class="form-control" id="event_name" name="event_name" [(ngModel)]="sticker.eventName">
    </div>
    <div class="form-group">
      <label for="event_url">Event Url</label>
      <input type="text" class="form-control" id="event_url" name="event_url" [(ngModel)]="sticker.eventUrl">
    </div>
    <div class="form-group">
      <label for="instance_count">Instance Count</label>
      <input type="number" class="form-control" id="instance_count" name="instance_count" [(ngModel)]="sticker.instanceCount">
    </div>
    <div class="form-group">
      <label for="sticker_logo">Logo</label>
      <input type="file" class="form-control" id="sticker_logo" style="display: none" (change)="selectedFile($event)" name="sticker_logo" [(ngModel)]="sticker.logoBase64" #file>
      <div class="input-group mail-btn-group">
        <span class="input-group-prepend">
          <button type="button" class="btn btn-primary btn-icon input-group-text" (click)="file.click()">
            <i class="ion-ios-cloud-upload"></i>
          </button>
        </span>
        <input type="text" class="form-control" placeholder="Select logo" [(ngModel)]="logo" [ngModelOptions]="{standalone: true}" [readonly]="true">

      </div>
      <span class="input-description">optimal logo size 256 x 256</span>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-primary" [disabled]="!addStickerForm.valid">Save changes</button>
    </div>
    <!--button type="submit" class="btn btn-danger">Submit</button-->
  </form>
</div>
